html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

.container {
    font-family: "Verdana", serif;
    height: 100vh;
}

#nav_tab {
    margin: auto;
    width: 100%;
    background-color: coral;
    height: 60px;
    position: fixed;
    display: flex;
    top: 0;
    align-items: center;
    padding-right: 5%;
    z-index: 1;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
nav ul li a {
    color: honeydew;
    text-decoration: none;
    font-size: 20px;
}
nav ul li a:hover{
    color: maroon;
}

#menu_icon {
    display: none;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color: #121212;
    text-align: center;
}

#main.banner {
    margin-top: 60px;
}

.banner_text{
    margin: 0;
    color: white;
    font-family: Garamond, serif;
    font-size: 3rem;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*home_style*/
#main_section {
    display: flex;
    justify-content: center;
    width: 100%;
    animation: transitionIn 0.75s;
    background-image: url("../images/overpop1.jpg");
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
}

#main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85vh;
    width: 65%;
}

#header_text{
    display: flex;
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    text-shadow: 
        -5px -5px 8px #121212,
        6px 6px 8px #121212,
        7px 7px 8px #121212,
        8px 8px 8px #121212;
}

#livecount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#livecount iframe {
    width: 100%;
    height: 100%;
    max-width: 370px;
    max-height: 200px;
}

#about_content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px;
} 

.about_column {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#table_container {
    width: 100%;
    height: 100%;
}

table {
    table-layout: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    border: 1px solid coral;
}

td > h1 {
    margin: 20px;
}

td:nth-child(odd) {
    background-color: hsl(16, 100%, 66%, 0.4);
    width: 15%;
}

td:nth-child(even) {
    width: 70%;
    text-align: left;
    padding-left: 20px;
}

.table_source{
    text-align: center;
    padding: 10px;
    font-size: 0.8rem;
}

/*cause_style*/
.heading_div{
    text-align: center;
}

h2{
    font-size: 2.0rem;
    text-align:center;
    font-weight: bold;
}

h4{
    font-size: 3.0em;
    text-align:center;
    margin-bottom:10px;
    margin-top:50px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 350px 100px;
    background-color: rgba(255, 127, 80);
}

#cause_content {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: center;
    padding: 10px;
}

#cause_content > div {
    margin: 10px;
    display: inline-block;
}

.article_image {
    margin: 5px;
}

.article_image.left {
    float: left;
}

.article_image.right {
    float: right;
}

p {
    font-size: 1.1rem;
    text-align: justify;
    text-indent: 2rem;
}

.content_image{
    height: auto;
    width: 20vw;
    border: solid 10px white;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    max-width: 500px
}

#effect_content {
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 25vw 25vw 25vw;
    gap: 5px;
}

#effect_content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#solution_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50%;
}

#related_papers {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    justify-content: space-evenly;
}

#related_papers > a {
    margin: 10px;
    text-align: center;
}

/*effects_style*/
#heading_div{
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    background-color: #121212;
    height: 300px;
}

.footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70%;
    max-width: 40%;
}

.footer_container > .column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 50%;
    min-width: 25%;
    height: 100%;
}

.developers {
    margin: 40px;
}

.developers, li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.developers li {
    list-style: none;
    color: rgb(99, 92, 92);
    font-size: 0.7rem;
}

span {
    color: rgb(99, 92, 92);
    font-size: 0.7rem;
}

/*solutions_style*/

@keyframes transitionIn {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1080px) {
    body{
        background: #e0fbfc;
    }
    #menu_icon,#hamburger{
        display: block;
    }
    #hamburger{
        position: relative;
        width: 15px;
        height: 2px;
        background: white;
        border-radius: 10px;
        cursor:pointer;
        z-index: 2;
        transition: 0.3s;
        margin-left: 20px;
    }
    #hamburger:before,
    #hamburger:after{
        content: "";
        position: absolute;
        height: 2px;
        right: 0;
        background: white;
        border-radius: 10px;
        transition: 0.3s;
    }
    #hamburger:before{
        top:-5px;
        width: 15px;
    }
    #hamburger:after{
        top: 5px;
        width: 15px;
    }
    .header_content {
        max-height: 70vh;
    }

    #menu_icon{
        position: absolute;
        width: 30px;
        height: 100%;
        z-index: 3;
        cursor: pointer;
        opacity: 0;
        margin-left: 20px;
    }
    
    #nav_tab input:checked ~ #hamburger{
        background: transparent;
    }
    
    #nav_tab input:checked ~ #hamburger:before{
        top: 0;
        transform: rotate(-45deg);
        width: 15px;
    }
    
    #nav_tab input:checked ~ #hamburger:after{
        top: 0;
        transform: rotate(45deg);
        width: 15px;
    }
    
    #nav_tab input:checked ~ nav ul {
        transition: right 0.5s;
        right: 0;
        padding-right: 20px;
    }

    #nav_tab{
        background-color: #3d5a80;
    }
    nav ul{
        width: 30%;
        height: 10rem;
        background-color: #3d5a80;
        position: absolute;
        top: 50px;
        right: -400px;
        transition: right 0.5s;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: honeydew;
        font-size: 15px;
    }
    
    #menu_icon{
        display: block;
    }

    .header_content{
        margin-top: 25vh;
        margin-bottom: 25vh;
    }

    .banner_text{
        font-size: 2rem;
    }

    .banner{
        background: #50658f;
    }

    #about_content {
        flex-direction: column;
    }

    .about_column {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    table {
        margin-top: 20px;
    }

    #cause_content {
        max-width: 100%;
    }

    .article_image.left, .article_image.right {
        float: none;
    }

    .content_image{
        width: 100%;
        height:auto;
        border: solid 10px #121212;
        display: block; 
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
    }

    #effect_content {
        display: flex;
        flex-direction: column;
    }

    #effect_content > div {
        padding: 20px;
    }

    #solution_content {
        max-width: 100%;
        padding: 20px
    }

    .footer_container {
        max-width: 100%;
        padding: 30px;
    }
    .css_validation {
        border:0;
        width:88px;
        height:31px;
    }
}


